<h1>Help info</h1>
<p>
<ol>
<li>As a user I can register/sign in.</li>
<li>As a user I can see a list of hotels.</li>
<li>As a user I can add a hotel. Hotel has next attributes:
  <ul>
  <li>a. title(required)</li>
  <li>b. star rating(required)</li>
  <li>c. breakfast included?(yes/no)</li>
  <li>d. room description</li>
  <li>e. photo</li>
  <li>f. price for room</li>
  <li>g. address(different object) ­ country, state, city, street</li>
  </ul>
<li>As a user on hotel details page I can rate a hotel from 1 to 5 with comment.</li>
<li>On the landing page display top 5 hotels with the best rating.</li>
</ol>
</p>
