<h1>All hotels</h1>

<% @hotels.each do |hotel| %>
  <h4><%= link_to hotel.title, hotel %></h4>
  <p><%= hotel.description %><br>
  <b>Breakfast:</b> <%= hotel.breakfast ? 'Yes' : 'No' %><br>
  <b>Price:</b> $<%= hotel.price %>
  </p>
  <hr>
<% end %>
