<footer class="footer">
  <small>
    The Handsome Hotel rating
  </small>
  <nav>
    <ul>
      <li><%= link_to "All hotels",   '#' %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>